[for="100"], [for="200"]{
    background-color: rgb(241, 132, 205);
}

.son > label{
    background-color: rgb(182, 115, 245);
}

.grandSons > label{
    background-color: plum;
}

.grandGrandSons > label{
    background-color: rosybrown;
}

label{
    display: inline-block;
    margin: 4px 10px;
}

.son{
    position: relative;
    left: 30px;
    padding: 10px;
    width: 15vw;
}

.grandSons{
    position: relative;
    left: 30px;
}

.grandGrandSons{
    position: relative;
    left: 30px;
}

.switch-moderno{
    display: inline-block;
    margin-bottom: -10px;
}

.check{
    width: 40px;
    height: 24px;
    background-color: #666;
    border-radius: 100px;
    position: relative;
    float: right;
}

.check::after{
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 3.4px;
    left: 2px;
    background-color: #eee;
    border-radius: 100px;
    transition: .2s;
}

.checkbox:checked + .check::after{
    left: 20px;
}

.checkbox:checked + .check{
    background-color: rgb(72, 72, 185);
}

.checkbox{
    display: none;
}