[for="100"], [for="200"]{
    background-color: rgb(241, 132, 205);
}

.son > label{
    background-color: rgb(182, 115, 245);
}

.grandSons > label{
    background-color: plum;
}

.grandGrandSons > label{
    background-color: rosybrown;
}

label{
    display: inline-block;
    margin: 4px 10px;
}

.son{
    position: relative;
    left: 30px;
    padding: 10px;
    width: 15vw;
}

.grandSons{
    position: relative;
    left: 30px;
}

.grandGrandSons{
    position: relative;
    left: 30px;
}